@page "{id:int}"
@model Projet.Pages.Tenders.DetailsModel

<h2>@Model.Tender.Title</h2>

<p>Statut : <strong>@Model.Tender.Status</strong></p>

@if (Model.IsSupplier && Model.CanSubmitOffer)
{
    <a asp-page="/Offers/Create"
       asp-route-tenderId="@Model.Tender.Id"
       class="btn btn-success">
        Soumettre une offre
    </a>
}


@if (Model.IsAdmin)
{
    <h4>📄 Offres reçues</h4>

    <table class="table">
        <tr>
            <th>Fournisseur</th>
            <th>Prix</th>
            <th>Statut</th>
        </tr>

        @foreach (var o in Model.Offers)
        {
            <tr>
                <td>@o.SupplierId</td>
                <td>@o.TotalPrice</td>
                <td>@o.Status</td>
            </tr>
        }
    </table>

    @if (Model.Offers.Any())
    {
        <form method="post">
            <button class="btn btn-danger">
                🏆 Sélectionner le moins disant
            </button>
        </form>
    }
}
